<html>
<head>
    <title>HOMEPAGE</title>
    <style>
        .logo{
    background-image: url("https://www.united.ac.in/templates/design-united-web/assets/img/logo-ugi.png");
    background-repeat: no-repeat;
    height: 120px;
    width: 400px;
    margin-top: 50px;
}
.image{
    background-image: url("https://www.united.ac.in/ucer/includes/img/landscape/107.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -180px;
}
.end{
    
    width: 47%;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.end2{
    
    width: 50%;
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list{
    background-color:lightblue;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 45%;
    float: left;
}
.list2{
    background-color: lightblue;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 50%;
    float: right;
}

    </style>
</head>
<body>
    {{>navbar}}
    <div class="logo">
        <p> </p>
    </div>
    <div class="image">
        <p> </p>
    </div>
    <div class="list">
        <h2>Couses we offer:</h2>
        <ul>
            <li>BBA</li>
            <li>BTech</li>
            <li>BPharma</li>
            <li>MBA</li>
            <li>MTech</li>
        </ul> 
    </div>
    <div class="list2">
        <h2>Our Colleges:</h2>
        <ul>
            <li>United College of engineering and reserch</li>
            <li>United Institute Of Technology</li>
            <li>United Institute Of Management</li>
            <li>United College of engineering and management</li>
            <li>United Institute Of Pharmacy</li>
        </ul>
    </div>
    <br>
        <div class="end">
            <h2>Corporate Ofiice:</h3>
            <p>
            United Tower 53, Leader Road, <br>
            Allahabad, U.P. India. <br>
            Phone : 0532-2402951-55 <br>
            Email : info@united.ac.in
            </p>
        </div>
        <div class="end2">
        <h2>Delhi-NCR Campus</h3>
        <p>
            50, Knowledge Park III,<br>
            Delhi-NCR Greater Noida 201310. <br>
            Toll Free No : 1800 103 3171 <br>
            Email : infogn@united.ac.in <br>
        </p>
        </div>
</body>
</html>