<style>
    .home{
        padding-left: 100px;
        background-color: bisque;
    }
    a{
        color: green;
        text-decoration: unset;
        text-transform: uppercase;
        font-size: larger;
        font-weight: bolder;
    }
</style>
<nav>
    <div class="home">
                <a href="/">Home <span></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/register">Register</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/about">About</a>
    </div>
</nav>